software-source/iFlag/obj
software-source/iFlag/bin
software-source/iFlag/publish
software-source/iFlag/iFlag.sln
software-source/iFlag/iFlag.suo
software-source/iFlag/iFlag.csproj.user
software-source/iFlag/iFlag.userprefs
