source/software/iFlag/obj
source/software/iFlag/bin
source/software/iFlag/publish
source/software/iFlag/iFlag.sln
source/software/iFlag/iFlag.suo
source/software/iFlag/iFlag.csproj.user
source/software/iFlag/iFlag.userprefs
